<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wind.member.dao.MemberOperationsMapper">
  <resultMap id="BaseResultMap" type="com.wind.member.entity.MemberOperations">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_record_id" jdbcType="BIGINT" property="memberRecordId" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from member_operations
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wind.member.entity.MemberOperations">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into member_operations (role_id, member_id, member_record_id, 
      `operation`, description, create_at
      )
    values (#{roleId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{memberRecordId,jdbcType=BIGINT}, 
      #{operation,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wind.member.entity.MemberOperations">
    update member_operations
    set role_id = #{roleId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      member_record_id = #{memberRecordId,jdbcType=BIGINT},
      `operation` = #{operation,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, role_id, member_id, member_record_id, `operation`, description, create_at
    from member_operations
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, member_id, member_record_id, `operation`, description, create_at
    from member_operations
  </select>

</mapper>