<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wind.member.dao.MovieStarMapper" >
  <resultMap id="BaseResultMap" type="com.wind.member.entity.MovieStar" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="profession_type" property="professionType" jdbcType="BIGINT" />
    <result column="favourite" property="favourite" jdbcType="BIT" />
    <result column="search_num" property="searchNum" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from movie_star
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wind.member.entity.MovieStar" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into movie_star (`name`, profession_type, favourite, 
      search_num, num, create_at, 
      update_at)
    values (#{name,jdbcType=VARCHAR}, #{professionType,jdbcType=BIGINT}, #{favourite,jdbcType=BIT}, 
      #{searchNum,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, 
      #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wind.member.entity.MovieStar" >
    update movie_star
    set `name` = #{name,jdbcType=VARCHAR},
      profession_type = #{professionType,jdbcType=BIGINT},
      favourite = #{favourite,jdbcType=BIT},
      search_num = #{searchNum,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, `name`, profession_type, favourite, search_num, num, create_at, update_at
    from movie_star
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, profession_type, favourite, search_num, num, create_at, update_at
    from movie_star
  </select>

  <select id="findByStarName" resultMap="BaseResultMap" >
    select id, `name`, profession_type, favourite, search_num, num, create_at, update_at
    from movie_star where name = #{starName,jdbcType=VARCHAR}
  </select>

</mapper>