<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="admin/common/html/head :: head_Normal(~{::title},~{::link},~{::style})">

<title th:text=${title}></title>
<!-- 这儿引用单独的css link -->
<link rel="stylesheet" th:href="@{/static/admin/assets/js/button/ladda/ladda.min.css}">
<style type="text/css">
/**
*这里写单独的css样式
*/
</style>

</head>

<body id="listbody">
<!-- 右边内容 -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- 内容 -->
        <!--标题 通用-->
        <div th:replace="admin/common/html/title :: title('主页','wind_member_center','3','4')">
        </div>
        <!-- 结束标题 通用-->
        <div class="content-wrap">
            <!-- 结束内容 -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- 空白页开始-->
                    <div class="nest" id="Blank_PageClose">
                        <div class="title-alt">
                            <h6>首页</h6>
                            <div class="titleClose">
                                <a class="gone" href="#Blank_PageClose">
                                    <span class="entypo-cancel"></span>
                                </a>
                            </div>
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#Blank_Page_Content">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>
                        </div>
                        <div class="body-nest" id="Blank_Page_Content">

<!--<h3><a id="简介" class="anchor" href="#%E7%BB%84%E7%BB%87%E6%9E%B6%E6%9E%84"></a>简介</h3>-->
<h3>
    <a id="1、会员管理" class="anchor" href="#"></a>会员管理</h3>
<!--            <p>基于springboot的一款纯净脚手架。努力打造一款免费开源、注释全、文档全适合新手学习、方便快速二次开发的框架。</p>-->
<h5>
    <a id="主要内容:新增会员，会员查询，会员消费订单查询、充值订单查询" class="anchor" href="#"></a>主要内容:新增会员，会员查询，会员消费订单查询、充值订单查询</h5>
<h3>
    <a id="2、订单管理" class="anchor" href="#"></a>订单管理</h3>
<a id="主要内容:当无法确认会员，而需要对账的时候，可以使用。 后续可以添加按天、按周、按月的费用、利润统计。" class="anchor" href="#"></a>主要内容:当无法确认会员，而需要对账的时候，可以使用。 后续可以添加按天、按周、按月的费用、利润统计。</h5>

<!--<div class="white">-->
<!--    <div class="highlight">-->
<!--        <pre>-->
<!--&lt;!&ndash;             <span id="LC1" class="line">1、会员管理</span>&ndash;&gt;-->
<!--&lt;!&ndash;             <span id="LC2" class="line">├─主要内容:新增会员，会员查询，会员消费订单查询、充值订单查询</span>&ndash;&gt;-->
<!--&lt;!&ndash;             <span id="LC3" class="line">2、订单管理</span>&ndash;&gt;-->
<!--&lt;!&ndash;             <span id="LC4" class="line">├─主要内容:当无法确认会员，而需要对账的时候，可以使用。 后续可以添加按天、按周、按月的费用、利润统计。</span>&ndash;&gt;-->
<!--            </pre>-->
<!--    </div>-->
<!--</div>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- 空白页结束 -->
            </div>
            <!-- 结束内容 -->
        </div>
    </div>
</div>
<!-- 结束右边内容 -->


<!-- 通用js -->
<div th:include="admin/common/html/js :: onload_js">
</div>
<script type="text/javascript" th:src="@{/static/admin/assets/js/toggle_close.js}"></script>

</body>

</html>
